.DS_Store
stock-prediction/parameters.py
stock-prediction/README.md
stock-prediction/requirements.txt
stock-prediction/stock_prediction.ipynb
stock-prediction/stock_prediction.py
stock-prediction/test.py
stock-prediction/train.py
stock-prediction/__pycache__/parameters.cpython-311.pyc
stock-prediction/__pycache__/stock_prediction.cpython-311.pyc
stock-prediction/csv-results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-prediction/data/AMZN_2021-05-31.csv
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697615.DESKTOP-JCAH48A.12800.1315.v2
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697620.DESKTOP-JCAH48A.profile-empty
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/plugins/profile/2020-12-11_15-40-20/local.trace
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1607697622.DESKTOP-JCAH48A.12800.7403.v2
stock-prediction/results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.h5
