linear_regression.py
stock-prediction/.DS_Store
stock-prediction/parameters.py
stock-prediction/README.md
stock-prediction/requirements.txt
stock-prediction/stock_prediction.ipynb
stock-prediction/stock_prediction.py
stock-prediction/test.py
stock-prediction/train.py
stock-prediction/__pycache__/parameters.cpython-311.pyc
stock-prediction/__pycache__/stock_prediction.cpython-311.pyc
stock-prediction/csv-results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-prediction/csv-results/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-prediction/data/AMZN_2021-05-31.csv
stock-prediction/data/AMZN_2025-08-24.csv
stock-prediction/logs/.DS_Store
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/.DS_Store
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697615.DESKTOP-JCAH48A.12800.1315.v2
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697620.DESKTOP-JCAH48A.profile-empty
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/plugins/profile/2020-12-11_15-40-20/local.trace
stock-prediction/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1607697622.DESKTOP-JCAH48A.12800.7403.v2
stock-prediction/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1756032794.Amandas-MacBook-Pro.local.45807.0.v2
stock-prediction/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1756032797.Amandas-MacBook-Pro.local.45807.1.v2
stock-prediction/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1756032621.Amandas-MacBook-Pro.local.45705.0.v2
stock-prediction/results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.h5
stock-prediction/results/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.weights.h5
.DS_Store
v1/data/CBA.AX_2020-01-01_2023-08-01.csv
naive_bayes.py
PCA.ipynb
stock-prediction/csv-results/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-prediction/data/AMZN_2025-09-07.csv
.gitignore
v1_2/stock_prediction_2.py
.gitignore
v1/data/CBA.AX_2020-01-01_2023-01-01.csv
stock-prediction/results/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.weights.h5
.gitignore
stock-prediction/logs/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1757215065.Amandas-MacBook-Pro.local.83568.1.v2
.gitignore
.gitignore
stock-prediction/logs/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1757215062.Amandas-MacBook-Pro.local.83568.0.v2
stock-predictionEdit/parameters.py
stock-predictionEdit/README.md
stock-predictionEdit/requirements.txt
stock-predictionEdit/stock_prediction.py
stock-predictionEdit/stock_prediction.ipynb
stock-predictionEdit/test.py
.gitignore
stock-predictionEdit/train.py
stock-predictionEdit/__pycache__/parameters.cpython-311.pyc
stock-predictionEdit/__pycache__/stock_prediction.cpython-311.pyc
stock-predictionEdit/csv-results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-predictionEdit/csv-results/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-predictionEdit/csv-results/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.csv
stock-predictionEdit/data/AMZN_2021-05-31.csv
stock-predictionEdit/data/AMZN_2025-08-24.csv
stock-predictionEdit/data/AMZN_2025-09-07.csv
stock-predictionEdit/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697615.DESKTOP-JCAH48A.12800.1315.v2
stock-predictionEdit/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1607697620.DESKTOP-JCAH48A.profile-empty
stock-predictionEdit/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/plugins/profile/2020-12-11_15-40-20/local.trace
stock-predictionEdit/logs/2020-12-11_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1607697622.DESKTOP-JCAH48A.12800.7403.v2
stock-predictionEdit/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1756032794.Amandas-MacBook-Pro.local.45807.0.v2
stock-predictionEdit/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1756032797.Amandas-MacBook-Pro.local.45807.1.v2
stock-predictionEdit/logs/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1756032621.Amandas-MacBook-Pro.local.45705.0.v2
stock-predictionEdit/logs/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/train/events.out.tfevents.1757215062.Amandas-MacBook-Pro.local.83568.0.v2
stock-predictionEdit/logs/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256/validation/events.out.tfevents.1757215065.Amandas-MacBook-Pro.local.83568.1.v2
stock-predictionEdit/results/2021-05-31_AMZN-sh-1-sc-1-sbd-0-huber_loss-adam-LSTM-seq-50-step-15-layers-2-units-256.h5
stock-predictionEdit/results/2025-08-24_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.weights.h5
stock-predictionEdit/results/2025-09-07_AMZN-sh-1-sc-1-sbd-0-huber-adam-LSTM-seq-50-step-15-layers-2-units-256.weights.h5
v1/stock_prediction.py
.gitignore
v1/stock_prediction.py
v1/stock_prediction.py
v1_2/stock_prediction.py
